// Bootstrap Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

header {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.logo-lockup {
    position: relative;
    display: flex;
}

.logo-icon {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.wordmark-lockup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-name {
    color: $dark;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.my-name:hover {
    color: $dark;
}

.title {
    color: $text-muted;
    margin-bottom: 0;
}